<div id="flashmsgs">
    <ul class="list-unstyled">
        {{#each flashMessages}}
            {{#each this}}
                <li class="{{@key}}">
                    {{this}}
                </li>
            {{/each}}
        {{/each}}
    </ul>
</div>